* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edcbf4;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
.timer {
  display: flex;
}

.field {
  display: flex;
  align-items: end;
  margin: 150px auto 0;
  gap: 8px;
}

#datetime-picker {
  text-align: center;
}

.value {
  border-radius: 11%;
  font-size: 150px;
  background: aqua;
}
